<<<<<<< HEAD
<<<<<<< HEAD
.video {
  padding-top: 33vh;
}
=======
h2 {
  color: white!important;
  font-family: Arial;
}
>>>>>>> origin/gh-pages
=======
h2 {
  color: white;
  font-family: Arial;
}
>>>>>>> origin/gh-pages
