h2 {
  color: white!important;
  font-family: Arial;
  margin-top: 0;
}

.main {

}

.pinned {
    width: 100%;
    height: 50vh;
    background-color: aquamarine;
}

.posts {
    width: 100%;
    height: 200vh;
}

.sidebar {
    float:right;
    padding: 0 0 200% 400px;
    background-color: red;
}